@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body {
	background: url(../img/banner.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
body.dark {
	background: url(../img/ban2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
body.light {
	background: url(../img/ban3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

body.colors {
	background: url(../video/colors.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

.snow-canvas {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	pointer-events: none;
}
body.space {
	background: url(../img/ban5.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}
body.space.bg-six {background: url(../img/banner6.jpg) no-repeat center center fixed;}
* {
	margin: 0px;
	padding: 0px;
}
h3 {
	font-size: 14px;
	color: #000;
}
p {
	font-size: 18px;
	color: #fff;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.clear {
	clear: both;
}
.container {
	margin: 0 auto;
	padding: 0 24px;
}
::selection {
	color: #fff;
	background: #f6f903;
}


/* ==================================================
   1. Logo
================================================== */
.logo {
	text-align: center;
	padding: 54px 0 0 0;
}
.logo img.logo {
	position: relative;
	z-index: 1;
	width: 110px;
}


/* ==================================================
   2. CountDown
================================================== */
.counter {
	margin: 8% 0 0 0;
}
.counter ul.countdown {
	margin: 48px 0;
	padding: 0;
	display: block;
	width: 530px;
	float: left;
}
.counter ul.countdown li {
	float: left;
}
.counter ul.countdown li span {
	color: #fff;
	font-size: 65px;
	font-weight: 900;
	line-height: 54px;
	padding: 0;
	margin: 0 23px 0 0;
}
.counter ul.countdown li p {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 45px;
}
.counter ul.countdown .dayy {
}
.counter ul.countdown li.day {
	float: left;
}
.counter ul.countdown li.day span.days {
	font-size: 180px;
	line-height: 112px;
	color: #fff;
	font-weight: 900;
	float: left;
	padding: 0;
}
.darkcounter ul.countdown li.day span.days { color:#333;} 
.counter ul.countdown .hour {
	margin: 18px 0 6px 0;
}
.counter ul.countdown .second {
}
.counter ul.countdown .second li.sec {
}
.counter ul.countdown li.sec span.seconds.last {
	font-size: 42px;
	font-weight: 600;
}
.counter ul.countdown li.sec span.ab {
	font-size: 18px;
	font-weight: 100;
	margin: 0 0px 0 -20px;
}
.counter ul.countdown li.sec p.seconds_ref {
	float: right;
	margin: 15px 55px 0 0;
}
.counter .notify {
	float: right;
	width: 480px;
	margin: 70px 0 0 0;
}
.counter .notify p {
	float: right;
	margin: 0 0 25px 0;
	text-align: right;
}
.counter .notify input[type=email] {
	background: rgba(255, 255, 255, 0.13);
	color: #fff;
	font-size: 14px;
	border: solid 3px #fff;
	padding: 0 26% 0 2%;
	width: 72%;
	height: 52px;
}
.counter .notify input[type=submit] {
	background: #fff;
	margin: -55px -3px 0 0;
	padding: 0px 14px 0px 14px;
	height: 52px; 
	border: none;
	float: right;
	font-weight: 900;
	cursor: pointer;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.counter .notify input[type=submit]:hover {
	color: #000;
	background: #f6f903;
}

.notify input[type=submit].blue:hover {
	color:#fff;
	background: #06A9A4;
}

.spacenotify  input[type=submit].yellow {
    background:#f6f903 !important;	
	}
.spacenotify  input[type=submit].yellow:hover{
   background: #F26841 !important;
    color: #fff !important;
	}	


/* ==================================================
   3. Footer
================================================== */
.footer {
	position: fixed;
	bottom: 0px;
	border-top: solid 3px rgba(255, 255, 255, 0.25);
	width: 100%;
	left: 0px;
}
.footer p {
	float: left;
	font-size: 13px;
	margin: 12px 0;
}
.footer .social {
	float: right;
	margin: 8px 0;
}
.footer .social ul {
}
.footer .social ul li {
	float: left;
	margin: 0 4px 0 0;
	cursor: pointer;
}
.footer .social ul li a.fa {
	color: #fff;
	font-size: 12px;
	border: solid 1px #fff;
	border-radius: 100%;
	padding: 7px 0 0 0;
	text-align: center;
	display: inline-block;
	height: 18px;
	width: 25px;
	text-align: center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.footer .social a.fa.fb:hover {
	color: #fff;
	background: #3b5999;
	border: solid 1px #3b5999;
}
.footer .social a.fa.tw:hover {
	color: #fff;
	background: #55acef;
	border: solid 1px #55acef;
}
.footer .social a.fa.in:hover {
	color: #fff;
	background: #9e6f4f;
	border: solid 1px #9e6f4f;
}
.footer .social a.fa.gp:hover {
	color: #fff;
	background: #de4b39;
	border: solid 1px #de4b39;
}


/* ==================================================
   4. Home-4 Dark-countDown
================================================== */
.darkcounter {
	margin: 8% 0 0 0;
}
.darkcounter ul.countdown {
	margin: 48px 0;
	padding: 0;
	display: block;
	width: 530px;
	float: left;
}
.darkcounter ul.countdown li {
	float: left;
}
.darkcounter ul.countdown li span {
	color: #333;
	font-size: 65px;
	font-weight: 900;
	line-height: 54px;
	padding: 0;
	margin: 0 23px 0 0;
}
.darkcounter ul.countdown li p {
	color: #333;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 45px;
}
.darkcounter ul.countdown .dayy {
}
.darkcounter ul.countdown .dayy li.day {
	float: left;
}
.darkcounter ul.countdown .dayy li.day span.days {
	font-size: 180px;
	line-height: 112px;
	color: #333;
	font-weight: 900;
	float: left;
	padding: 0;
}
.darkcounter ul.countdown .hour {
	margin: 18px 0 6px 0;
}
.darkcounter ul.countdown .second {
}
.darkcounter ul.countdown .second li.sec {
}
.darkcounter ul.countdown .second li.sec span.seconds.last {
	font-size: 42px;
	font-weight: 600;
}
.darkcounter ul.countdown .second li.sec span.ab {
	font-size: 18px;
	font-weight: 100;
	margin: 0 0px 0 -20px;
}
.darkcounter ul.countdown li.sec p.seconds_ref {
	float: right;
	margin: 15px 55px 0 0;
}
.darkcounter .notify {
	float: right;
	width: 480px;
	margin: 70px 0 0 0;
}
.darkcounter .notify p {
	color: #333;
	float: right;
	margin: 0 0 25px 0;
	text-align: right;
}
.darkcounter .notify input[type=email] {
	background: rgba(255, 255, 255, 0.13);
	color: #333;
	font-size: 14px;
	border: solid 3px #333;
	padding: 0 26% 0 2%;
	width: 72%;
	height: 52px;
}
.darkcounter .notify input[type=submit] {
	background: #333;
	margin: -55px -3px 0 0;
	padding: 0px 14px 0px 14px;
	height: 52px;
	border: none;
	color: #fff;
	float: right;
	font-weight: 900;
	cursor: pointer;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

.darkcounter .notify input[type=submit]:hover {
	color: #fff;
	background: #69ae19;
}


/* ==================================================
   5. Home-4 Dark-footer
================================================== */
.darkfooter {
	position: fixed;
	bottom: 0px;
	border-top: solid 1px rgba(51, 51, 51, 0.08);
	width: 100%;
	left: 0px;
}
.darkfooter p {
	color: #333;
	float: left;
	font-size: 13px;
	margin: 12px 0;
}
.darkfooter .social {
	float: right;
	margin: 8px 0;
}
.darkfooter .social ul {
}
.darkfooter .social ul li {
	text-align: center;
	float: left;
	margin: 0 4px 0 0;
	cursor: pointer;
}
.darkfooter .social ul li a.fa {
	color: #333;
	font-size: 12px;
	border: solid 1px #333;
	border-radius: 100%;
	padding: 7px 0 0 0;
	text-align: center;
	display: inline-block;
	height: 18px;
	width: 25px;
	text-align: center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.darkfooter .social a.fa.fb:hover {
	color: #fff;
	background: #3b5999;
	border: solid 1px #3b5999;
}
.darkfooter .social a.fa.tw:hover {
	color: #fff;
	background: #55acef;
	border: solid 1px #55acef;
}
.darkfooter .social a.fa.in:hover {
	color: #fff;
	background: #9e6f4f;
	border: solid 1px #9e6f4f;
}
.darkfooter .social a.fa.gp:hover {
	color: #fff;
	background: #de4b39;
	border: solid 1px #de4b39;
}


/* ==================================================
   6. Home-1 Light-countDown
================================================== */
.lightcounter {
	text-align: center;
	margin: 5% 0 0 0;
}
.lightcounter ul.countdown_2 {
	margin: 75px 0;
	padding: 0;
	display: block;
	text-align: center;
}
.lightcounter ul.countdown_2 li {
	display: inline-block;
}
.lightcounter ul.countdown_2 li span {
	font-size: 80px;
	font-weight: 500;
	line-height: 80px;
	padding: 0 20px;
	color: #fff;
}
.lightcounter ul.countdown_2 li p {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 100;
	color: #fff;
}
:focus {
	outline: none;
}
.lightcounter .lightnotify {
	width: 62%;
	text-align: center;
	float: none;
	display: inline-block;
}
.lightcounter .lightnotify p {
	float: none;
	margin: 0 0 10px 0;
	text-align: center;
	width: 65%;
	display: inline-block;
}
.lightcounter .lightnotify .field {
	width: 100%;
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.lightcounter .lightnotify input[type=email] {
	background: rgba(255, 255, 255, 0.13);
	color: #fff;
	font-size: 14px;
	border: solid 3px #fff;
	padding: 0 22% 0 2%;
	width: 37%;
	height: 52px;
	float: none;
    display: inline-block;
}
.lightcounter .lightnotify input[type=submit] {
	background: #fff;
	margin: 0px 0 0 -129px;
	padding: 0px 20px 0px 20px;
	height: 52px;
	border: none;
    display: inline-block;
	font-weight: 900;
	cursor: pointer;
	position: relative;
	float: none;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.lightcounter .lightnotify input[type=submit]:hover {
	color: #000;
	background: #F6F903;
}
.lightsocial {
	text-align: center;
	display: inline-block;
	margin: 42px 0 0 0;
}
.lightsocial ul {
}
.lightsocial ul li {
	text-align: center;
	float: left;
	margin: 0 7px 0 0;
	cursor: pointer;
}
.lightsocial ul li a.fa {
	color: #fff;
	font-size: 22px;
	border: solid 2px #fff;
	border-radius: 100%;
	padding: 13px 0 0 0;
	text-align: center;
	display: inline-block;
	width: 45px;
	height: 32px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.lightsocial a.fa.fb:hover {
	color: #fff;
	background: #3b5999;
	border: solid 2px #3b5999;
}
.lightsocial a.fa.tw:hover {
	color: #fff;
	background: #55acef;
	border: solid 2px #55acef;
}
.lightsocial a.fa.in:hover {
	color: #fff;
	background: #9e6f4f;
	border: solid 2px #9e6f4f;
}
.lightsocial a.fa.gp:hover {
	color: #fff;
	background: #de4b39;
	border: solid 2px #de4b39;
}


/* ==================================================
   7. Home-1 Light-Footer
================================================== */
.lightfooter {
	margin: 5% 0 0 0;
	width: 100%;
}
.lightfooter p {
	text-align: center;
	font-size: 13px;
	margin: 12px 0;
}


/* ==================================================
   8. Home-5 Space-countDown
================================================== */
.spacecounter {
	text-align: center;
	margin: 5% 0 0 0;
}
.spacecounter ul.countdown_2 {
	margin: 75px 0;
	padding: 0;
	display: block;
	text-align: center;
}
.spacecounter ul.countdown_2 li {
	display: inline-block;
}
.spacecounter ul.countdown_2 li span {
	font-size: 80px;
	font-weight: 500;
	line-height: 80px;
	padding: 0 20px;
	color: #fff;
}
.spacecounter ul.countdown_2 li p {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 100;
	color: #fff;
}
.spacecounter .spacenotify {
	width: 62%;
	text-align: center;
	float: none;
	display: inline-block;
}
.spacecounter .spacenotify p {
	float: none;
	margin: 0 0 10px 0;
	text-align: center;
	width: 65%;
	display: inline-block;
}
.spacecounter .spacenotify .field {
	width: 100%;
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.spacecounter .spacenotify input[type=email] {
	background: rgba(255, 255, 255, 0.13);
	color: #fff;
	font-size: 14px;
	border: solid 3px #fff;
	padding: 0 22% 0 2%;
	width: 37%;
	height: 52px;
	float: none;
}
.spacecounter .spacenotify input[type=submit] {
	background: #fff;
	margin: 0px 0 0 -129px;
	padding: 0px 20px 0px 20px;
	height: 52px;
	border: none;
	font-weight: 900;
	cursor: pointer;
	position: relative;
	float: none;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.spacecounter .spacenotify input[type=submit]:hover {
	color: #000;
	background: #f6f903;
}
.spacesocial {
	text-align: center;
	display: inline-block;
	margin: 42px 0 0 0;
}
.spacesocial ul {
}
.spacesocial ul li {
	text-align: center;
	float: left;
	margin: 0 7px 0 0;
	cursor: pointer;
}
.spacesocial ul li a.fa {
	color: #fff;
	font-size: 22px;
	border: solid 2px #fff;
	border-radius: 100%;
	padding: 13px 0 0 0;
	text-align: center;
	display: inline-block;
	width: 45px;
	height: 32px;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}
.spacesocial a.fa.fb:hover {
	color: #fff;
	background: #3b5999;
	border: solid 2px #3b5999;
}
.spacesocial a.fa.tw:hover {
	color: #fff;
	background: #55acef;
	border: solid 2px #55acef;
}
.spacesocial a.fa.in:hover {
	color: #fff;
	background: #9e6f4f;
	border: solid 2px #9e6f4f;

}
.spacesocial a.fa.gp:hover {
	color: #fff;
	background: #de4b39;
	border: solid 2px #de4b39;
}
.spacecounter h1{ color:#fff;}

/* ==================================================
   9. Home-5 Space-Footer
================================================== */
.spacefooter {
	margin: 5% 0 0 0;
	width: 100%;
}
.spacefooter p {
	text-align: center;
	font-size: 13px;
	margin: 12px 0;
}


/* ==================================================
   10. Home-1 canvas
================================================== */
canvas {
	position: absolute !important;
	width: 100% !important;
	top: 0;
	text-align: center;
	height: 100% !important;
	z-index: -1;
}
canvas{opacity: 0.5 ;}







#result .success {
	    border: 1px solid #060;
    background: #9C6;
    color: #060;
    font-size: 16px;
    width: 96%;
    display: inline-block;
    padding: 8px 2%;
	
}

#result .error {
	border:1px solid  #900;
	background:#DFA9A9;
	color:#900;
	font-size:16px; 
    width:96%;
    display: inline-block;
    padding:8px 2%;
    margin: 0 0 12px 0;	
}


.mid #result .success{ width:56%;}
.mid #result .error{ width:56%;}
::-webkit-input-placeholder {
   color:#fff;
}

:-moz-placeholder { /* Firefox 18- */
   color:#fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#fff;  
}

:-ms-input-placeholder {  
   color:#fff;  
}


.darkcounter ::-webkit-input-placeholder {
   color:#333;
}

.darkcounter :-moz-placeholder { /* Firefox 18- */
   color:#333;  
}

.darkcounter ::-moz-placeholder {  /* Firefox 19+ */
   color:#333;  
}

.darkcounter :-ms-input-placeholder {  
   color:#333;  
}
